// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;

  // Insert your own theme rules here
  .bugrap-header {
    padding: 10px;
    background-color: #dfe5ec;
  }

  .bugrap-menu {
    padding: 10px;
    background-color: #d4dbe2;
    border-bottom: 2px solid #a1b1c1;
    margin-bottom: 1em;

    .bugrap-menu__item {
      text-decoration: none;
      color: #464646;

      &:hover {
        color: #969696;
      }
    }

    .bugrap-menu__label {
      background-color: #464646;
      color: #fff;
      border-radius: 1em;
      padding:0.2em 0.5em;
      font-size: 0.8em;
    }

  }

  .bugrap-project-versions {
    padding: 0 10px;
    margin-bottom: 10px;
    .bugrap-project-versions__progress {
      border-radius: 1em;
      overflow: hidden;
      .project-progress {
        text-align: center;
        font-weight: bold;
        font-size: 0.9em;
        padding: 0.1em;
      }

      .project-progress--opened {
        background-color: #a1b1c1;
      }

      .project-progress--closed {
        background-color: #d1e7cd;
      }

      .project-progress--unassigned{
        background-color: #ef786f;
      }
    }
  }

  .button-flat {
    background: #dfe5ec;
    background-image: none;
    border: none;
    margin-right: 2px;

    &.button-flat--selected {
      color: #FFF;
      background-color: #a1b1c1;
    }
  }

  .bugrap-filters {
    padding: 10px;
  }

  .reports-detail {
    background-color: #dfe5ec;

  }

  .report-title {
    background-color: #a1b1c1;
    color: #FFF;
    padding:0.2em 0.5em;
    min-height: 40px;
  }

  .report-form {
    padding: 1em 0.5em;
    padding-bottom: 2em;
  }

  .report-comments {
    height: calc(100% - 1em) !important;
    width: calc(100% - 1em) !important;
    margin: 0.5em;
  }

  .reports-comments-container {
    width: 100%;
  }

  .v-slot-report-comments-icon {
    color: #848484;
  }

  .v-slot-report-comments-title {
    font-size: 0.9em;
    font-weight: bolder;
    color: #848484;
  }

  .v-slot-report-comments-text {
    font-size: 0.85em;
    padding: 0.5em 0;
  }

  .v-slot-report-comments {
    width: 100%;
    border-bottom: 1px solid #efefef;
  }
}
